/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
---------------------------------------- */

/* 1. Global Styles
---------------------------------------- */

:root {
  /* Colors */
  --aragonite-white: #f3eff5;
  --bgColor: #f6f8fa;
  --black: #000;
  --forest-green: #72b01d;
  --grey: #454955;
  --mossy-green: #3f7d20;
  --poppy-red: #da2c38;
  --raven: #0d0a0b;
  --sparkling-frost: #d1d5da;
  --white: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* Emojis */
  background-color: var(--bgColor);
  padding: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

header {
  border-bottom: 1px solid var(--sparkling-frost, #d1d5da);
}

::selection {
  background-color: var(--forest-green, #72b01d);
  color: var(--white, #fff);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hidden-section {
  opacity: 0;
  transition: opacity 1s ease;
}

/* 2. Typography Styles
----------------------------------------  */

h1 {
  font-size: 70px;
  line-height: 1.5;
  margin-block-start: 0;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 20px;
}

.red-paragraph {
  color: var(--poppy-red, #da2c38);
}

/* 3. Structure Styles
---------------------------------------- */

.container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-column {
  flex-direction: column;
}

.section {
  margin: 100px 0;
}

/* 4. Module Styles
---------------------------------------- */

/* Site navigation */

.header-container {
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.nav-menu-section li {
  margin-block-start: 16px;
}

.nav-menu-items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu-items a {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  transition: color 250ms ease;
}

.nav-menu-items a:hover,
.nav-menu-items a:focus {
  color: var(--forest-green, #72b01d);
}

.nav-menu-items .active-link {
  color: var(--forest-green, #72b01d);
}

/* Site Footer */

.footer-wrapper {
  flex-direction: column;
}

.footer-wrapper .logo {
  margin-bottom: 36px;
  width: 125px;
}

.footer-wrapper-contacts {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 1.5;
}

.footer-wrapper h3 {
  margin-top: 0;
}

.footer-wrapper p {
  line-height: 1.5em;
}

.footer-section {
  background-color: var(--sparkling-frost, #d1d5da);
  padding-top: 72px;
}

.footer-contact {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  flex-wrap: wrap;
}

.footer-contact li {
  width: 360px;
}

.footer-contact a {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-contact address,
.footer-contact a {
  font-style: normal;
  text-decoration: none;
  line-height: 1.5;
  color: var(--black, #000);
  transition: color 250ms ease, fill 250ms ease;
}

.footer-contact a:hover,
.footer-contact a:focus {
  color: var(--forest-green, #339966);
  fill: var(--forest-green, #339966);
}

.copyright {
  background-color: var(--raven, #0d0a0b);
  margin-top: 72px;
}

.copyright p {
  color: var(--aragonite-white, #f3eff5);
  text-align: center;
  padding: 20px 0;
  margin-block-end: 0;
}

/* 5. Component Styles
---------------------------------------- */

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bolder;
  font-size: 24px;
  color: var(--black);
  text-decoration: none;
  transition: color 250ms ease, fill 250ms ease;
}

.logo:hover,
.logo:focus {
  color: var(--forest-green, #72b01d);
  fill: var(--forest-green, #72b01d);
}

.styled-link {
  background-color: var(--forest-green, #72b01d);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 250ms ease;
}

.styled-link:hover,
.styled-link:focus {
  background-color: var(--mossy-green, #3f7d20);
}

.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--forest-green, #72b01d);
  position: absolute;
  bottom: -20px;
  left: 0;
}

/* 6. Page Styles
---------------------------------------- */

/* Home Banner */

.home-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/spoons-with-herbal-tea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.home-image-section h2 {
  font-weight: 400;
  text-align: center;
  color: var(--raven, #0d0a0b);
}

/* Banner */

.banner-wrapper {
  background-image: url(images/fruit-ice-tea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 760px;
  position: relative;
}

.banner-wrapper .container {
  display: block;
}

.banner-description {
  padding-top: 10%;
  text-align: right;
}

.banner-description p {
  font-size: 24px;
  line-height: 1.5;
}

@media (max-width: 716px) {
  .special-offer-wrapper .banner-description h1 {
    font-size: 60px;
  }
}

/* Benefits */

.benefits-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.benefits-section ul {
  display: flex;
  align-content: space-between;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.benefits-section li {
  max-width: 264px;
}

.benefits-section svg {
  fill: var(--forest-green, #72b01d);
  display: block;
  margin: auto;
}

.benefits-section h3 {
  text-align: center;
}

.benefits-section p {
  text-align: justify;
}

/* Feautered Tea */

.featured-tea-heading {
  align-items: center;
}

.featured-tea-heading h2 {
  margin: 0 auto;
  font-size: 38px;
}

.featured-tea-heading h3 {
  margin-bottom: 56px;
}

.featured-tea-section {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

.featured-tea-section li {
  max-width: 360px;
  background-color: var(--sparkling-frost, #d1d5da);
  border-radius: 15px;
}

.featured-tea-section h4 {
  font-size: 20px;
  padding: 15px 30px;
  margin: 0;
}

.featured-tea-section p {
  padding: 0 30px 20px 30px;
  margin: 0;
}

.featured-tea-section img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Mission */

.mission-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/top-view-tea-with-lemon-copy-space.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 760px;
}

.mission-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-description h1,
.mission-description p {
  color: var(--black, #000);
  text-align: center;
}

.mission-description p {
  font-size: 24px;
  line-height: 1.5;
}

/* Locations */

.locations-wrapper,
.citrus-sunset-wrapper {
  text-align: center;
}

.locations-wrapper h2 {
  margin-bottom: 56px;
}

.locations-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
  flex: 1;
}

.locations-section p {
  line-height: 1.5;
}

.locations-section li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  background-color: var(--mossy-green, #3f7d20);
  color: var(--bgColor, #f7f9fb);
  transition: background-color 250ms ease;
}

.locations-section li:first-child {
  background-color: var(--forest-green, #72b01d);
  border-top-left-radius: 15px;
}

.locations-section li:last-child {
  background-color: var(--grey, #454955);
  border-bottom-left-radius: 15px;
}

.locations-section li:hover {
  background-color: #3f7425;
}

.locations-section li:first-child:hover {
  background-color: #609b15;
}

.locations-section li:last-child:hover {
  background-color: #3f424d;
}

/* Location Map */

.location-map {
  display: flex;
  gap: 0;
}

#mapContainer {
  flex: 2;
  height: 600px;
}

#map {
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#locationSwitcher {
  color: #fff;
}

.locationButton {
  display: block;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: font-size 250ms ease;
}

/* Tea of the Month */

.citrus-sunset-wrapper {
  margin: 100px 0;
}

.citrus-sunset-wrapper h2 {
  margin-bottom: 100px;
  margin-top: 0;
}

.citrus-sunset-section {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.citrus-sunset-section li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  /* flex-basis: calc((100% - 72px) / 4); */
  width: 264px;
  height: 400px;
  background-color: var(--forest-green, #72b01d);
  color: var(--bgColor, #f7f9fb);
  border-radius: 15px;
}

.citrus-sunset-section li:nth-child(1),
.citrus-sunset-section li:nth-child(3),
.citrus-sunset-section li:nth-child(6),
.citrus-sunset-section li:nth-child(8) {
  padding: 10px 30px;
}

.citrus-sunset-section li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Special Offer */

.special-offer-wrapper {
  background-image: url(images/aromatic-fruit-ice-tea-table.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 760px;
  position: relative;
}

.special-offer-wrapper .container {
  display: block;
}

.offer-description {
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;
}

.offer-description > p {
  color: var(--poppy-red, #da2c38);
  margin-block-start: 0;
}

.offer-description h2 {
  margin-bottom: 8px;
  margin-top: 0;
}

.offer-description-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 50px;
}

.offer-description-card img {
  border-radius: 15px;
}

.offer-description-card p {
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  margin-block-end: 0;
  margin-block-start: 0;
}

.offer-description-card h3 {
  color: var(--poppy-red, #da2c38);
  margin-block-end: 0;
  margin-block-start: 0;
}

.offer-description-card-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  min-height: 330px;
  max-width: 804px;
}

#styled-text {
  font-size: 100%;
  padding: 10px 20px;
  color: var(--forest-green, #72b01d);
  border: 1.5px solid var(--forest-green, #72b01d);
  border-radius: 50px;
}

/* Contacts */

.contact-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contact-section-image {
  max-width: 720px;
  height: auto;
}

@media (max-width: 1440px) and (min-width: 1223px) {
  .contact-section {
    height: 676px;
  }
}

@media (max-width: 1224px) {
  .contact-section-image {
    max-width: 1224px;
    height: auto;
  }
}

.contact-image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.contact-section-info {
  padding-left: 30px;
  line-height: 1.5;
  margin: 50px 0;
}

.contact-section-info a {
  font-weight: 700;
  text-decoration: none;
  line-height: 1.5;
  color: var(--black, #000);
  transition: color 250ms ease;
}

.contact-section-info a:hover,
.contact-section-info a:focus {
  color: var(--forest-green, #339966);
}
